

.footer{
  height: 100px;
  padding: 30px;
  background: #F1F1F1;
  margin-top: 30px;
  
}

.main-content {
  padding-bottom: 50px;
}






/********* PRIMEFACES CSS ******/

.ui-datepicker-trigger {
display: inline-block !important;
}
.ui-selectonemenu .ui-selectonemenu-trigger {
  padding: 0px;
}

.btn:focus {
  outline: none;
}
button:focus {
  outline: none;
}
.ui-selectonemenu{
  outline: none;
}
.ui-selectonemenu-trigger{
  outline: none;
}
.ui-selectonemenu{
  padding: 0px;
}

.ui-radiobutton .ui-radiobutton-box{
  box-sizing: content-box;
}

.ui-selectoneradio label{
margin-left: 4px;
margin-right: 10px;
}
.ui-selectonemenu .ui-selectonemenu-trigger {
  padding: 0px;
}


