

.footer{
  height: 100px;
  padding: 30px;
  background: #F1F1F1;
  margin-top: 30px;
  
}

.main-content {
  padding-bottom: 50px;
}

.MostrarImagen{
  background-color: #CCCCCC;
}

.action-btn{
  color: white !important;
}

h1 {
  font-size: 30px;
}

.footer{

  /*  clear: both;
    position: relative;
    z-index: 10;*/

  padding: 20px 0px;
  margin-top: 1.5em;
  background: #41B3D1;
  color: white;

}

.copyright{
  text-align: center;
}

.logo{
  height: 50px;
  width: 150px;
}

.container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 0px;
  margin-right: 15px;
  padding: 0px;

}


/*

.pacienteList td:nth-child(10) {
    width: 160px;
}

.pacienteList th:nth-child(10) {
    width: 160px;
}

*/
/********* PRIMEFACES CSS ******/

.ui-widget-header{
  border: none;
  background: none;
}
.ui-datepicker-trigger {
display: inline-block !important;
}

.btn:focus {
  outline: none;
}
button:focus {
  outline: none;
}

.ui-selectonemenu{
  padding-right: 1em;
}

.ui-selectonemenu .ui-selectonemenu-trigger{
  padding: 0 0;
}

.ui-radiobutton .ui-radiobutton-box{
  box-sizing: content-box;
}

.ui-selectoneradio label{
margin-left: 4px;
margin-right: 10px;
}



